{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "bracketSameLine": false,
  "experimentalTernaries": false,
  "proseWrap": "never",
  "quoteProps": "consistent",
  "tabWidth": 2,
  "printWidth": 75
}
