.tl {
    /* Auto layout */
    padding: 0px;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    height: fit-content;

/* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.text_form{
    /* Auto layout */
    justify-content: space-between;
    gap:10px;
    width: 100%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;


}
/* Label */

.label{
width: 63px;
height: 74px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.text_form > input[type="text"]{

    width: 320px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #7E9A9B;
    border-radius: 12px;

    &:active{
       border: 2px linear-gradient(360deg, #BFE1EF 0%, #FFFFFF 54.5%);
    }

}

.background{
    /* image-side */
/* Auto layout 
display: flex;
flex-direction: column;
align-items: flex-start;*/
    width: auto;
    height: auto;

    background: linear-gradient(225.06deg, rgba(236, 251, 252, 0.34) 0%, #7FB0C5 100%);

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}




/* buttons */
.btn{
    /* Auto layout 
    display: flex;
    flex-direction: column;
    */
justify-content: center;

}
.btn > button{
    margin: 0 auto;
width: 88px;
height: 40px;

background: #FFFFFF;
border: 2px solid #6D8182;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;
}

.form_con{
justify-content: center;
padding: 0px 10px;
gap:20px;
width: 100%;
height: auto;


}